<h1>Users List</h1>

<% if @users.empty? %>
  <b>No users</b>
<% else %>
<table class="table">
  <tr>
    <th>User id: </th>
    <th>User Name: </th>
    <th>User Email: </th>
    <th>User Phone: </th>
    <th>User Gender: </th>
    <th>Add Friend: </th>
    <th>Delete User: </th>
    <th>Rating: </th>
  </tr>

  <% @users.each do |i| %>

  <tr>
    <td><%= i.id %></td>
    <td><%= link_to i.username, user_path(i)  %></td>
    <td><%= i.email %></td>
    <td><%= i.phone %></td>
    <td><%= i.gender %></td>
    <td><%= link_to "Add friend", friendships_path(:user_id => current_user.id,:friend_id => i.id), method: :post, class: "btn btn-large btn-primary" %></td>
    <td><%= link_to "Delete user", i, method: :delete, data:{confirm: "Do you want realy delete this user?" }, class: "btn btn-large btn-danger" %></td>
    <td>Rating: <%= i.votes_count %> <%= link_to "+", upvote_user_path(i) , class: "btn btn-large btn-info" %> </td>
  </tr>

      <% end %>

</table>

<%end %>