<h1>PROFILE</h1>

<%= image_tag @user.image.url(:medium) %>

<div class="profile-page">
<ul>
  <li><%= @user.username %></li>
  <br>
  <li><%= @user.email %></li>
  <br>
  <li><%= @user.gender %></li>
  <br>
  <li><%= @user.phone %></li>
</ul>
</div>